html {
  margin: 0 5em;
}

.wave-edit {
  width: 50em;
  height: 10em;
  background-color: grey;
  display: block;
  position: relative;
}

.draggable {
  width: 0.25em;
  height: 100%;
  display: inline-block;
  background-color: black;
  cursor: col-resize;
  position: absolute;
}