/* -- Reset  --*/

li {
  list-style: none;
}

/* -- Layout  --*/

body {
  --black: #191919;
  background-color: var(--black);
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
}

#nav-bar {
  display: flex;
  height: 40px;
  background-color: black;
}
#nav-bar h1 {
  color: white;
  font-size: 1em;
}

#top-half {
  margin: auto;
  display: flex;
  height: 45vh;
  width: 99vw;
  padding: 0;
}

#arranger {
  display: block;
  width: 100%;
  overflow-x: scroll;
  padding: 60px 3px;
  margin: 0;
}

.horizontal-separator {
  height: 4px;
  background-color: rgba(100, 100, 100, 1);
  border-top: solid 1px rgba(255, 255, 255, 0.5);
  border-bottom: solid 1px rgba(0, 0, 0, 0.5);
}

.vertical-separator {
  width: 4px;
  height: 100%;
  background-color: rgba(100, 100, 100, 1);
  border-left: solid 1px rgba(255, 255, 255, 0.5);
  border-right: solid 1px rgba(0, 0, 0, 0.5);
}

#bottom-half {
  margin: auto;
  display: flex;
  height: 50vh;
  width: 99vw;
}

#segment-library {
  display: flex;
  width: 40vw;
  height: 100%;
  margin: auto;
  overflow-y: scroll;
}

#segment-library .segment-block {
  margin: 0 0 30px;
  
}

#waveform-editor {
  width: 60vw;
  height: 100%;
  margin: auto;
  overflow-x: scroll;
  text-align: center;
}

/* -- Elements  --*/

.track {
  width: auto;
  height: 120px;
  display: inline-block;
  background-color: black;
  overflow-x: scroll;
  position: relative;
  margin-bottom: 10px;
}

.track .segment-block {
  display: inline-block;
  position: absolute;
}

.track-grid {
  position: absolute;
  left: 0;
  top: 0;
}

.segment-block {
  background-color: rgba(255,255,255,0.5);
  height: 120px;
  width: 240px;
}

.segment-block.is-selected {
  border: 3px solid pink;
}

.waveform {
  display: inline-block;
  background-color: rgba(255,255,255,0.5);
  width: 480px;
  height: 180px;
}

/* -- Helpers  --*/


.is-grabbable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.grabbing, .is-grabbable:active {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}